@import '../abstracts/mixins';

.product-advertisement {
    .sub-title {
        @media (min-width: 1441px) {
            font-size: 26px;
        }
    }
    .price {
        @include font-style(80px, $color-black, 700);
        sub{
            @include font-style(30px, $color-black, 400);
            top: 0;
        }

        @media (min-width: 1441px) {
            font-size: 114px;
            sub {
                font-size: 43px;
            }
        }
        @media (min-width: 576px) and (max-width: 767px) {
            font-size: 120px;
        }
        @media (max-width: 575px) {
            font-size: 60px;
        }
    }

    .price-text {
        @include font-style(20px, $color-black, 400);
        margin-bottom: 15px;

        @media (min-width: 1441px) {
            font-size: 30px;
        }
    }

    
}