/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.bg-cyan {
  background-color: #3CABB4;
}

.bg-cyan-light {
  background-color: #EAF5F7;
}

.bg-light {
  background-color: #F3F3F3 !important;
}

.bg-gray {
  background-color: #707070;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .p-md-30 {
    padding: 30px;
  }
}
.mx-width-80 {
  max-width: 80%;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .w-md-25 {
    width: 25%;
  }

  .w-md-50 {
    width: 50%;
  }

  .w-md-60 {
    width: 60%;
  }

  .w-md-75 {
    width: 75%;
  }

  .w-md-100 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .w-lg-50 {
    width: 50%;
  }

  .w-lg-75 {
    width: 75%;
  }

  .w-lg-100 {
    width: 100%;
  }
}
.text-preline {
  white-space: pre-line;
}

@media (min-width: 768px) {
  .text-md-preline {
    white-space: pre-line;
  }
}
.rounded-10 {
  border-radius: 10px;
}

@media (min-width: 992px) {
  .rounded-lg-pill {
    border-radius: 50rem !important;
  }
}
/*===// end of base css === */
/*=== components css start === */
.title-1 {
  font-size: 38px;
  color: #000;
  font-weight: 700;
  line-height: 44px;
}

.title-2 {
  font-size: 26px;
  color: #000;
  font-weight: 700;
  line-height: 36px;
}

.title-3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  line-height: 26px;
}

.page-title p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

@media (min-width: 1441px) {
  .title-1 {
    font-size: 48px;
    line-height: 58px;
  }

  .title-2 {
    font-size: 35px;
    line-height: 42px;
  }

  .title-3 {
    font-size: 26px;
    line-height: 32px;
  }

  p {
    font-size: 20px;
    line-height: 26px;
  }

  .page-title p {
    font-size: 22px;
  }
}
.btn-yellow-gradient {
  background: linear-gradient(90deg, #FFCC00, #FFAA00);
  color: #fff;
  border: 4px solid #FFE131;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  font-weight: 700;
  white-space: pre-line;
  line-height: 1.2;
}
.btn-yellow-gradient:hover {
  background: linear-gradient(0deg, #FFCC00, #FFAA00);
  color: #fff;
}
@media (min-width: 1441px) {
  .btn-yellow-gradient {
    font-size: 22px;
  }
}

.btn-gray-gradient {
  background: linear-gradient(90deg, #B9B9B9, #969696);
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  font-weight: 700;
  padding: 0.5em 1rem;
}
.btn-gray-gradient:hover {
  background: linear-gradient(0deg, #B9B9B9, #969696);
  color: #fff;
}
@media (min-width: 1441px) {
  .btn-gray-gradient {
    font-size: 22px;
  }
}

.counter {
  background-color: #3CABB4;
  text-align: center;
}
.counter h3 {
  font-size: 20px;
  color: #fff;
  padding: 12px;
  font-weight: 400;
}
@media (min-width: 1441px) {
  .counter h3 {
    font-size: 26px;
    padding: 15px;
  }
}

.content-card {
  max-width: 1220px;
  margin: auto;
  background-color: #F3F3F3;
  border: 1px solid rgba(112, 112, 112, 0.1);
}
.content-card.bg-img {
  background: url(../images/card/card-bg.png) no-repeat center center/cover;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .content-card {
    max-width: 900px;
  }
}
.content-card--header {
  background-color: #3CABB4;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px 15px;
}
@media (min-width: 1441px) {
  .content-card--header {
    font-size: 26px;
  }
}
.content-card--body {
  padding: 20px;
}
@media (min-width: 1441px) {
  .content-card--body {
    padding: 30px;
  }
}

@media (min-width: 1441px) {
  .product-advertisement .sub-title {
    font-size: 26px;
  }
}
.product-advertisement .price {
  font-size: 80px;
  color: #000;
  font-weight: 700;
}
.product-advertisement .price sub {
  font-size: 30px;
  color: #000;
  font-weight: 400;
  top: 0;
}
@media (min-width: 1441px) {
  .product-advertisement .price {
    font-size: 114px;
  }
  .product-advertisement .price sub {
    font-size: 43px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .product-advertisement .price {
    font-size: 120px;
  }
}
@media (max-width: 575px) {
  .product-advertisement .price {
    font-size: 60px;
  }
}
.product-advertisement .price-text {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  margin-bottom: 15px;
}
@media (min-width: 1441px) {
  .product-advertisement .price-text {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .fade-img-card {
    position: relative;
    background-size: cover !important;
  }
  .fade-img-card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
  }
  .fade-img-card > div {
    position: relative;
    z-index: 1;
  }
}

.check-list li {
  margin-bottom: 15px;
}
.check-list li:nth-child(even) {
  background-color: #F3F3F3;
}
.check-list li:nth-child(odd) {
  background-color: #EAF5F7;
}
.check-list li:last-child {
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .check-list li .icon {
    width: 45px;
  }
}

/*===// end of components css === */
/*=== layouts css start === */
.navbar .nav {
  flex-wrap: nowrap;
}
.navbar .nav .nav-link {
  color: #000;
}
.navbar .nav .nav-link img {
  width: 30px;
}
@media (min-width: 1441px) {
  .navbar .nav .nav-link {
    font-size: 22px;
  }
  .navbar .nav .nav-link img {
    width: 40px;
  }
}
@media (max-width: 767px) {
  .navbar .nav .nav-link img {
    display: block;
    margin: 5px auto;
  }
}

.footer .footer-top .nav-link {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.footer .footer-top .nav-link img {
  width: 35px;
  vertical-align: bottom;
}
@media (max-width: 1440px) {
  .footer .footer-top .nav-link {
    font-size: 16px;
  }
  .footer .footer-top .nav-link img {
    width: 30px;
  }
}
.footer .footer-bottom .nav-link:hover {
  text-decoration: underline;
}
.footer .footer-bottom .footer-description {
  font-size: 13px;
  line-height: 17px;
}

/*===// end of layouts css === */
/*=== pages start === */
/*===// end of pages  === *//*# sourceMappingURL=style.css.map */